/*-------------------------------------------
   	Global Combos
-------------------------------------------*/
article, aside, details, fig caption, figure, footer, header, group, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*-------------------------------------------
   	Global Mixins
-------------------------------------------*/
/*-------------------------------------------
    Colors
-------------------------------------------*/
/*-------------------------------------------
    Sizes
-------------------------------------------*/
/*-------------------------------------------
    Fonts
-------------------------------------------*/
/*-------------------------------------------
    Grid
-------------------------------------------*/
/*-------------------------------------------
   	 General Selectors
-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  line-height: 1; }

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 24px;
  font-family: arial, sans-serif;
  background: #ede7c9; }

/* block level */
h1, .alpha {
  font-size: 34px;
  font-size: 3.4rem;
  font-family: Verdana, sans-serif;
  margin-bottom: 24px; }

h2, .beta {
  font-size: 28px;
  font-size: 2.8rem;
  font-family: Verdana, sans-serif;
  margin-bottom: 24px; }

h3, .gamma {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: Verdana, sans-serif;
  margin-bottom: 24px; }

h4, .delta {
  font-size: 20px;
  font-size: 2rem;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  margin-bottom: 12px; }

h5, .epsilon {
  font-size: 20px;
  font-size: 2rem;
  font-family: Georgia, serif;
  margin-bottom: 12px; }

h6, .zeta {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: Verdana, sans-serif;
  margin-bottom: 12px; }

p, ul, dl, ol {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 24px;
  margin-bottom: 12px; }

li {
  margin-bottom: 12px; }

ul li {
  list-style-type: none; }

ol li {
  margin-left: 20px; }

table {
  border-collapse: collapse;
  border: 2px solid #050f0b; }

th {
  text-align: left;
  padding: 12px 5px; }

td {
  padding: 6px 5px; }

caption {
  border: 2px solid #050f0b;
  border-bottom: none;
  padding: 12px 5px; }

/* inline */
em {
  font-style: italic; }

strong {
  font-weight: bold; }

a {
  color: #245f6b; }
  a:hover, a:focus {
    color: #132339; }

img {
  display: block;
  margin-bottom: 12px; }

code {
  font: 12px/1 "Courier New", Courier, monospace; }

sub, sup {
  line-height: 0; }

::-moz-selection {
  background: #d88cff;
  color: #000;
  text-shadow: none; }

::selection {
  background: #d88cff;
  color: #000;
  text-shadow: none; }

/*-------------------------------------------
   	Forms
-------------------------------------------*/
fieldset {
  border: none; }

/*-------------------------------------------
   	Partials
-------------------------------------------*/
.page-header {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center; }
  .page-header a {
    color: #fff; }
    .page-header a:hover, .page-header a:focus {
      color: rgba(255, 255, 255, 0.6); }
  @media screen and (min-width: 600px) {
    .page-header {
      text-align: left; } }

.logo {
  display: block;
  margin-bottom: 24px;
  font-size: 40px;
  font-size: 4rem; }
  .logo a {
    padding: 12px 10px;
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none; }
  @media screen and (min-width: 600px) {
    .logo {
      margin-bottom: 12px; }
      .logo a {
        padding: 0;
        background: none; } }

.nav-main li {
  display: inline; }
@media screen and (min-width: 600px) {
  .nav-main {
    float: left; } }

@media screen and (min-width: 600px) {
  #search {
    float: right; } }

.page-footer {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center; }
  .page-footer a {
    color: #fff; }
    .page-footer a:hover, .page-footer a:focus {
      color: rgba(255, 255, 255, 0.6); }
  @media screen and (min-width: 600px) {
    .page-footer {
      text-align: left; } }

/*  Page Containers */
.wrap {
  margin: 0 auto;
  padding: 12px 20px;
  max-width: 980px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.content .wrap {
  background: #f8faf0; }
  .content .wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }
  .lt-ie8 .content .wrap {
    zoom: 1; }

/*-------------------------------------------
   	Page Layouts A-? 
   	determined by body classes
-------------------------------------------*/
/* 
	LAYOUT A
	Full Column 
*/
.layout-a .main {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 20px; }

/* 
	LAYOUT B
	Main on left, Sub on right 
*/
.layout-b .main {
  float: none;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 20px; }
  @media screen and (min-width: 600px) {
    .layout-b .main {
      float: left;
      width: 69.375%; } }
.layout-b .sub {
  float: none;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 20px; }
  @media screen and (min-width: 600px) {
    .layout-b .sub {
      float: right;
      width: 30.625%; } }

/*-------------------------------------------
   	Additional Classes
-------------------------------------------*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0; }
.lt-ie8 .clearfix {
  zoom: 1; }

.left {
  display: block;
  float: left;
  margin: 0 15px 15px 0; }

.right {
  display: block;
  float: right;
  margin: 0 0 15px 15px; }

.upper {
  text-transform: uppercase; }

.line {
  display: block; }

.move {
  position: absolute;
  left: -9999px; }

.hide {
  display: none; }
