// Header Styles

.page-header {
	background: rgba(0,0,0,0.8);
	color: #fff;
	text-align: center;
	a {
		color: #fff;
		&:hover, &:focus {
			color: rgba(255,255,255, 0.6);
		}
	}
	@media screen and (min-width: $q-600) { 
		text-align: left;
	}
}

.logo {
	display: block;
	margin-bottom: $base-med;
	font-size: 40px; font-size: 4rem;
	a {
		padding: $base $grid-gutter/2;
		background: rgba(0,0,0,0.5);
		text-decoration: none;
	}
	@media screen and (min-width: $q-600) { 
		margin-bottom: $base;
		a {
			padding: 0;
			background: none;
		}
	}
}

.nav-main {
	li {
		display: inline;
	}
	@media screen and (min-width: $q-600) { 
		float: left;
	}
	.lt-ie9 & {
		float: left;
	}
}

#search {
	@media screen and (min-width: $q-600) { 
		float: right;
	}
	.lt-ie9 & {
		float: right;
	}
}