// Layouts

/*  Page Containers */
.wrap {
	@include wrap;
}

.content {
	.wrap {
		background: $white;
		@include clearfix;
	}
}
/*-------------------------------------------
   	Page Layouts A-? 
   	determined by body classes
-------------------------------------------*/


/* 
	LAYOUT A
	Full Column 
*/
.layout-a {
	.main {
		width: 100%;
		@include border-box;
		padding: $base $grid-gutter;
	}
}


/* 
	LAYOUT B
	Main on left, Sub on right 
*/
.layout-b {
	.main {
		float: left;
		@include percent(7,6);
		@include border-box;
		padding: $base $grid-gutter;
	}
	.sub {
		float: right;
		@include percent(3,3);
		@include border-box;
		padding: $base $grid-gutter;
	}
}